/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.single-post-block {
	&__post-selector {
		label {
			display: block;
			padding: 1rem 1rem 0 1rem;
		}
		border: 5px solid rgba( 20, 20, 20, 0.25 );
	}
	&__post-preview {
		border: 5px solid rgba( 20, 20, 20, 0.25 );
		padding: 1rem;
		p:last-child {
			margin-bottom: 0;
		}
	}
	&__loading-placeholder {
		background: rgba( 20, 20, 20, 0.1 );
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 100px;
	}
	&__post-body {
		display: grid;
		grid-template-columns: auto 100px;
		grid-template-rows: auto auto;
		column-gap: 1em;
	}
	&__post-excerpt {
		grid-row: 2 / span 2;
		grid-column: 1 / span 1;
		align-self: start;
	}
	&__post-image {
		grid-row: 1 / span 2;
		grid-column: 2 / span 1;
		img {
			width: 100px;
			height: 100px;
			object-fit: cover;
		}
	}
}